API_ID: int = 6
API_HASH: str = "eb06d4abfb49dc3eeb1aeb98ae0f581e"
BOT_TOKEN: str = ""

DB_URI: str = "mongodb://localhost:27017"
DB_NAME: str = "SPOwnerBot"

OWNERS: list = [
    1
]

TEXTS: dict = {
    "start": "Send me the sticker to know his owner.",
    "owner": "32: <code>{int32_id}</code> (<code>@usinfobot {int32_id}</code>)\n64: <code>{int64_id}</code> (<code>@usinfobot {int64_id}</code>)",
    "count": "Users count - <code>{count}</code>"
}
